/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .contenido-email {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contenido-email label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contenido-email input,
  .contenido-email textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #add-cc, #send {
    background-color: #009688;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  #add-cc {
    margin-bottom: 10px;
  }
  
  #send:hover {
    background-color: #00796b;
  }
  